* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Montserrat", sans-serif;
  color: rgba(0, 0, 0, 1);
  background-color: #ecebe9;
}

img {
  width: 100%;
  display: flex;
}

/************** NEWS ***********/
.news-container {
  padding: 100px 80px;
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}

.news-title {
  font-size: 50px;
  line-height: 55px;
  margin-bottom: 30px;
}

.news-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 24px;
  row-gap: 60px;
}

.news-item {
  margin-bottom: 32px;
}

.news-item-image {
  margin-bottom: 24px;
}

.news-item-title {
  font-size: 24px;
  margin-bottom: 8px;
}

.news-item-text {
  font-size: 16px;
  line-height: 150%;
  color: rgba(0, 0, 0, 0.8);
  margin-bottom: 16px;
}

.news-item-link {
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
  transition: 0.3s color;
}

.news-item-link:hover {
  color: #d1a658;
}

@media (max-width: 1200px) {
  .news-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 992px) {
  .news-container {
    padding: 80px 24px;
  }

  .news-title {
    font-size: 40px;
    line-height: 44px;
    margin-bottom: 24px;
  }

  .news-wrapper {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 24px;
    row-gap: 40px;
  }
}

@media (max-width: 576px) {
  .news-container {
    padding: 50px 20px;
  }

  .news-title {
    font-size: 36px;
    line-height: 40px;
    margin-bottom: 24px;
    text-align: center;
  }

  .news-wrapper {
    grid-template-columns: 1fr;
    justify-content: center;
    align-content: center;
  }

  .news-item {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
  }
}
